<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/update/{{reviews.id}}' method="POST">
        {% csrf_token %}
        
        <input type="text" name="title" value={{reviews.title}}>Enter a title</input><br><br>
        <input type="text" name="author" value={{reviews.author}}>Enter a author name</input><br><br>
        <input type="text" name="description"value={{reviews.description}}>Enter a description</input><br><br>
        <input type="text" name="review" value={{reviews.review}}>Enter a review</input><br><br>
        <button type=submit>Submit</button>
        <a href="index.html">Cancel</a>

    </form>
    
    
</body>
</html>